*{
  margin: 0%;}

  .img {
    position: absolute;
    left: 300px;
    width: 900px;
    padding-top: 5px;
    float: right;
    top:70px;
  }

.hola{
  color: blue;
  background-color: chartreuse;
}

  
.formularios{
    position: absolute;
    right: 20px;
    width: 1300px;
    padding-top: 5px;
    float: right;
    top:70px;
}

.formularios-c{
  position: relative;
   width: 90%;
  padding-top: 5px;
  float: center;
  top:70px;
}

.nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;}

.nav li{
  display:block;
  height: 50px;
  padding:15px;
  padding-left: 30px;
  padding-right: 20px;
}  


.menu {
  background-color:rgba(0,0,0,0.5) !important;
  height: 50px;  
  width: 100%;
  padding-right: 10px;
  position: fixed;
  left: 0;
  top: 0; 
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li:hover{
background-color: #ffffff;
opacity: 0.5; 
}

.menu li a{
  display:block;
  height: 50px;
  padding:15px;
  padding-left: 30px;
  padding-right: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Numans');

.inicio{
background-image: url('../img/pic1.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 550px;
margin-top: 120px;
margin-left: 355px;
width: 400px;
background-color: rgba(0, 0, 0, 0.562) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:rgb(206, 60, 70);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.form-group a{
color: black;
float: right;
background-color: rgb(206, 60, 70);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.card-footer a {
  color: rgb(142, 209, 70);
}

    .left {
        background: rgb(142,209, 70);  
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
        margin: auto;
        margin-top: 120px;
    }

    .right {
        background: #fff;
        width: 200px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 250px;
    }

    .item:hover {
        background-color: rgb(45,44,44);
    }

    .left .fas {
        margin: 15px;
        width: 20px;
        color: #fff;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;
        
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #fff;
    }

.left a{
  color:white;
}

 .calcular{
   float :left;
 }

 