.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .iniciar {
    width: 150px;
    background-color: #eee;
  }

  .iniciar a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  .img {
    position: absolute;
    left: 300px;
    width: 900px;
    padding-top: 5px;
    float: right;
    top:70px;
  }
.formularios{
    position: absolute;
    right: 20px;
    width: 1200px;
    border: 3px solid #73AD21;
    padding-top: 5px;
    float: right;
    top:70px;
  
}

.formularios_c{
  position: absolute;
  right: 20px;
  width: 1200px;
  border: 3px solid #73AD21;
  padding-top: 5px;
  float: right;
  top:70px;
}
.menu2 {
  background-color: rgb(19, 100, 73);
  height: 90%;  
  width: 350px;
  position: relative;
  left: 730px;
  
}


  .inicio{
    background-color: rgb(246, 247, 244);
    width: 250px;
    height: 180px;
    border: 1px solid #99CC33
    ;

  }

  h3{
    color:rgb(97, 111, 122) ;
    text-align: center;
   }