<header>
    <h1>MODULO CARGOS FIJOS</h1>
    </header>

<form method="POST" action="#" target="_blank" action="/">
    <fieldset>
        <legend> Cargos Fijos:: </legend>
            <label for="id_trans">Número de Transacción</label>
            <input type="number" name="id_trans" id="id_trans"> <br><br>
            <label for="ab_gerente">Abono Gerente</label>
            <input type="number" name="ab_gerente" id="ab_gerente">
            <label for="ab_contador">Abono Contador</label>
            <input type="number" name="ab_contador" id="ab_contador">
            <label for="ab_mensual">Abono Mensual</label>
            <input type="number" name="ab_mensual" id="ab_mensual">
            <label for="ab_asesoria">Abono Asesoria</label>
            <input type="number" name="ab_asesoria" id="ab_asesoria"><br> <br>
            <label for="ab_sanidad">Abono Sanidad</label> 
            <input type="number" name="ab_sanidad" id="ab_sanidad">
            <label for="retefuente">Retefuente</label>
            <input type="number" name="retefuente" id="retefuente">
            <label for="cheque">Descuento Cheque</label>
            <input type="number" name="cheque" id="cheque">
            <label for="cxmil">Cuatro por Mil</label>
            <input type="number" name="cxmil" id="cxmil">
    <br>        <br>
    

</fieldset>
    <br>
    <input type="button" value="Nuevo">
    <input type="button" value="Guardar">
    <input type="button" value="Modificar">
    <input type="button" value="Buscar">
    <input type="button" value="Eliminar">
    <input type="reset" value="Limpiar"/>  
    <br><br>
    <fieldset>
        <legend>Cargos fijos:</legend>
        <br>
        <table style="width:100%">
        <label for="lblBuscar">Numero de Transaccion:</label>
        <input type="search" id="lblBuscar" name="lblBuscar" value=""><br> <br>
            <tr>
              <th>Abono gerente</th>
              <th>Abono contador</th>
              <th>Abono mensual</th>
              <th>Abono asesoría</th>
              <th>Abono sanidad</th>
              <th>Retefuente</th>
              <th>Descuento cheque</th>
              <th>4 x 1000</th>
            </tr>
            <tr>
             
              <td>16000</td>
              <td>13000</td>
              <td>5%</td>
              <td>20000</td>
              <td>3002536598</td>
              <td>30000</td>
              <td>6000</td>
              <td>1*100</td>
            </tr>
          </table>
        </fieldset>



</form>