<form method="POST" action="#" target="blank">

    <label for="usuario">Usuario</label>
    <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario">
    <br>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
    <br>
    <select class="custom-select" name="tip_usuario">
        <option selected>Tipo de Usuario</option>
        <option value="Administrador">Administrador</option>
        <option value="Asociado">Asociado</option>
        </select>
    <br> 
    
    <button type="submit">Iniciar sesion</button>


</form>