<form method="POST" action="#" target="blank">

    <label for="asociado">Identificacion Asociado</label>
    <input type="text" name="asociado" id="asociado" placeholder="Identificacion Asociado">
    <br>
    <label for="id_entrega">Codigo Entrega</label>
    <input type="text" name="id_entrega" id="id_entrega" placeholder="Codigo de entrega">
    <br>
    <label for="fecha_entrega">Fecha de Entrega</label>
    <input type="date" name="fecha_entrega" id="fecha_entrega" placeholder="Codigo de entrega">
    <br>
    <label for="cantidad_kilos">Cantidad Kilos</label>
    <input type="number" name="cantidad_kilos" id="cantidad_kilos">
    <br>
    <label for="valor_kilo">Valor Kilo</label>
    <input type="number" name="valor_kilo" id="valor_kilo">
    <br>
    <label for="auxilio_transporte">Auxilio de transporte</label>
    <label><input type="checkbox" id="cbox1" value="first_checkbox"> Si</label>
    <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">No</label>
    
    <br> 
    <label for="ahorro">Ahorro</label>
    <input type="number" name="ahorro" id="ahorro">
    <br>
    <label for="subtotal">Subtotal</label>
    <input type="subtotal" name="subtotal" id="subtotal">
    <br>
    
    <button type="submit">Agregar informacion</button>
    

</form>