<!DOCTYPE html>
<html>
<head>
<title>Prestamos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header>
        <h1>MODULO PRESTAMOS</h1>
    </header>

    <form action="/">
        <fieldset>
         <legend>Datos Deudor:</legend>
         <label for="NumPrestamo">Numero de Prestamo:</label>
          <input type="number" id="NumPrestamo" name="NumPrestamo" disabled value="">
          <label for="TipoDoc">Ingrese Documento:</label>
          <select id="TipoDoc" name="TipoDoc">
            <option value="CC">Cedula Ciudadania</option>
            <option value="CE">Cedula Extranjeria</option>
            <option value="AS">Adullto Sin Identificacion</option>
            <option value="PE">Permanencia Especial</option>
          </select>
           <input type="number" id="NumDoc" name="NumDoc" value="">
           <input type="button" value="...">
        <label for="FechaPrestamo">Fecha Prestamo</label>:</label>
        <input type="datetime-local" id="FechaPrestamo" name="FechaPrestamo" value=""><br><br>
        <label for="PNombre">Primer Nombre:</label>
        <input type="text" id="PNombre" name="PNombre" value="">
        <label for="SNombre">Segundo Nombre:</label>
        <input type="text" id="SNombre" name="SNombre" value="">
        <label for="PApellido">Primer Apellido:</label>
        <input type="text" id="PApellido" name="PApellido" value="">
        <label for="SApellido">Segundo Apellido:</label>
        <input type="text" id="SApellido" name="SApellido" value=""><br><br>
        
        <fieldset>
            <legend>Datos Prestamo:</legend>
            <label for="ValorPrestamo">Valor Prestamo:</label>
            <input type="number" id="ValorPrestamo" name="ValorPrestamo" value="">
            <label for="TPrestamo">Tiempo Prestamo</label>:</label>
          <input type="number" id="TPrestamo" name="TPrestamo" value="">
          <label for="IntAnual">Interes Anual</label>:</label>
          <input type="number" id="IntAnual" name="IntAnual" value="">
          <input type="button" value="Calcular"><br><br>
          <label for="IntMensual">Interes Mensual</label>:</label>
          <input type="number" id="IntMensual" name="IntMensual" value="" disabled>
          <label for="ValorCuota">Valor Cuota:</label>
          <input type="number" id="ValorCuota" name="ValorCuota" value="" disabled><br><br>
           

          <fieldset>
           <legend>Valor Cuotas Prestamo:</legend>
           <table style="width:100%">
           <tr>
            <th>Numero Cuota</th>
            <th>Valor Cuota</th>
            <th>Valor Intereses</th>
            <th>Amortizacion</th>
            <th>Saldo Pendiente</th>
          </tr>
          <tr>
            <td>1</td>  
            <td>$125.521,27</td>
            <td>$833,33</td>
            <td>$124.687,93</td>
            <td>$375.312,07</td>
          </tr>
          <tr>
            <td>2</td>  
            <td>$125.521,27</td>
            <td>$625,52</td>
            <td>$124.895,75</td>
            <td>$250.416,32</td>
          </tr>
          <tr>
            <td>3</td>  
            <td>$125.521,27</td>
            <td>$417,36</td>
            <td>$125.103,91</td>
            <td>$125.312,41</td>
          </tr>
          <tr>
            <td>4</td>  
            <td>$125.521,27</td>
            <td>$208,85</td>
            <td>$125.312,41</td>
            <td>$0.00</td>
          </tr>
         
           </table>
          </fieldset>
    
        </fieldset><br>
    
          </fieldset><br>
          
          <input type="button" value="Nuevo">
          <input type="button" value="Guardar">
          <input type="button" value="Modificar">
          <input type="button" value="Buscar">
          <input type="button" value="Eliminar">
          <input type="button" value="Imprimir"/> 
          <input type="reset" value="Limpiar"/>  


      </form><br><br>

      <fieldset>
        <legend>Listado de Compras:</legend>
        <br>
        <table style="width:100%">
        <label for="lblBuscarPrestamo">Buscar Compra:</label>
        <input type="search" id="lblBuscarPrestamo" name="lblBuscarPrestamo" value="">
        <label for="lblBuscarDoc">Buscar Asociado:</label>
        <input type="search" id="lblBuscarDoc" name="lblBuscarDoc" value=""><br> <br>
            <tr>
              <th>Numero Prestamo</th>
              <th>Numero Identificacion</th>
              <th>Primer Nombre</th>
              <th>Segundo Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Valor Prestamo</th>
              <th>Interes Prestamo</th>
              <th>Fecha Prestamo</th>
            </tr>
            <tr>
              <td>1011</td>  
              <td>1065165985</td>
              <td>Juan</td>
              <td>Andres</td>
              <td>Perez</td>
              <td>Martinez</td>
              <td>$694.000</td>
              <td>2.5%</td>
              <td>30/07/2021</td>
            </tr>
            <tr>
              <td>1012</td>  
              <td>1065164485</td>
              <td>Luis</td>
              <td>Manuel</td>
              <td>Vargas</td>
              <td>Segura</td>
              <td>$224.000</td>
              <td>2.5%</td>
              <td>13/08/2021</td>
            </tr>
          </table>
        </fieldset>

</body>
</html>