<header>
    <h1>MODULO VENTAS FRUTO</h1>
    </header>

<form method="POST" action="#" target="_blank" action="/">
    <fieldset>
        <legend> Ventas Fruto: </legend>
        <label for="TipoDoc">Ingrese Tipo de Documento:</label>
        <select id="TipoDoc" name="TipoDoc">
          <option value="CC">CC</option>
          <option value="CE">CE</option>
          <option value="AS">AS</option>
          <option value="PE">PE</option>
        </select> 
        <label for="num_doc">Numero de Documento</label>
        <input type="number" name="num_doc" id="num_doc"> <br> <br>
    <label for="pri_nom">Primer Nombre</label>
    <input type="text" name="pri_nom" id="pri_nom" placeholder="Primer Nombre">
    <label for="pri_nom">Segundo Nombre</label>
    <input type="text" name="nom_asociado" id="nom_asociado" placeholder="Nombres Asociado">
    <label for="pri_ape">Primer Apellido</label>
    <input type="text" name="pri_ape" id="pri_ape" placeholder="Primer Apellido">
    <label for="seg_ape">Segundo Apellido</label>
    <input type="text" name="pri_ape" id="seg_ape" placeholder="Segundo Apellido">
    <br><br>        
    <label for="fecha_entrega">Fecha de Entrega</label>
    <input type="date" name="fecha_entrega" id="fecha_entrega" >
    <label for="id_entrega">Codigo Entrega</label>
    <input type="text" name="id_entrega" id="id_entrega" placeholder="#001">
    <label for="cantidad_kilos">Cantidad Kilos</label>
    <input type="number" name="cantidad_kilos" id="cantidad_kilos">    
    <label for="valor_kilo">Valor Kilo</label>
    <input type="number" name="valor_kilo" id="valor_kilo">
    <label for="auxilio_transporte">Transporte</label>
    <label><input type="checkbox" id="cbox1" value="first_checkbox"> Si</label>
    <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">No</label>
    <br><br>
    <label for="valor_transporte">   Valor de transporte</label>
    <input type="number" name="valor_transporte" id="valor_transporte">
    <label for="transporte">Auxilo de transporte</label>
    <input type="number" name="transporte" id="transporte" placeholder="12000">
    <label for="ahorro">Ahorro</label>
    <input type="number" name="ahorro" id="ahorro"> 
    <label for="subtotal">Subtotal</label>
    <input type="subtotal" name="subtotal" id="subtotal">

</fieldset>
    <br>
    <input type="button" value="Nuevo">
    <input type="button" value="Guardar">
    <input type="button" value="Modificar">
    <input type="button" value="Buscar">
    <input type="button" value="Eliminar">
    <input type="reset" value="Limpiar"/>  
    
<br><br>
<fieldset>
    <legend>Registro de ventas:</legend>
    <br>
    <table style="width:100%">
    <label for="lblBuscar">Buscar Documento:</label>
    <input type="search" id="lblBuscar" name="lblBuscar" value=""><br> <br>
        <tr>
          <th>Numero Identificacion</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Fecha entrega</th>
          <th>Codigo Entrega</th>
          <th>Cantidad Kilos</th>
          <th>Valor Kilo</th>
        </tr>
        <tr>
          <td>1065165985</td>
          <td>Juan</td>
          <td>Andres</td>
          <td>Perez</td>
          <td>Martinez</td>
          <td>28/09/2021</td>
          <td>0003</td>
          <td>10</td>
          <td>600000</td>
        </tr>
        <tr>
            <td>1065165985</td>
            <td>Juan</td>
            <td>Andres</td>
            <td>Perez</td>
            <td>Martinez</td>
            <td>28/09/2021</td>
            <td>0003</td>
            <td>10</td>
            <td>600000</td>
          </tr>
       
      </table>
    </fieldset>

</form>