<link rel="stylesheet" href="../css/estilos.css">
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="../components/formularios/asociadosForm.html" target="_parent">Asociados</a>
  <a class="navbar-brand" href="../components/formularios/ventasForm.html" target="_parent">Ventas</a>
  <a class="navbar-brand" href="../components/formularios/compraForm.html" target="_parent">Compras</a>
  <a class="navbar-brand" href="../components/formularios/prestamosForm.html" target="_parent">Prestamos</a>
  <a class="navbar-brand" href="../components/formularios/productosForm.html" target="_parent">Productos</a>
  <a class="navbar-brand" href="../components/formularios/proveedoresForm.html" target="_parent">Proveedores</a>
  <a class="navbar-brand" href="../components/formularios/cargosFijosForm.html" target="_parent">Cargos fijos</a>
  <a class="navbar-brand" href="../components/formularios/cuentaCobroForm.html" target="_parent">Cuenta de cobro</a>

  
</nav>



</div>