<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../css/estilos.css">  </head>

<div class="vertical-menu">
  <a href="../pages/asociados.html" class="active" target="_parent">Registrar Asociado</a>
  <a href="../pages/operacional.html"  target="_parent">Registrar venta fruto</a>
  <a href="../index.html"  target="_parent">Registrar compra</a>
  <a href="../index.html"  target="_parent">Registrar prestamo</a>
  <a href="../index.html"  target="_parent">Registrar proveedores</a>         
  <a href="#">Facturacion</a>

</div>

