<!DOCTYPE html>
<html>

<link rel="stylesheet" href="../css/estilos.css">  </head>

<div class="vertical-menu">
  <a href="../pages/asociados.html" class="active" target="_parent">Registrar Asociado</a>
  <a href="../pages/ventas.html"  target="_parent">Registrar Ventas </a>
  <a href="../pages/compras.html"  target="_parent">Registrar Compras</a>
  <a href="../pages/productos.html"  target="_parent">Registrar Productos</a>
  <a href="../pages/prestamos.html"  target="_parent">Registrar Prestamos</a> 
  <a href="../pages/proveedores.html"  target="_parent">Registrar Proveedores</a>   
  <a href="../pages/cargosFijos.html"  target="_parent">Registrar Cargos Fijos</a>
  <a href="../pages/cuentaCobro.html"  target="_parent">Facturacion</a>

</div>

